body {
    background-color: grey;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rainDrop {
	position: absolute;
    background-color: white;
	border-radius: 100% 100% 80% 80%;
}

button {
    margin: auto;
    display: block;
}

/* *******************CLOUD******************** */

.cloud {
    opacity: 0.8;
    width: 100%;
    max-width: 700px;
    height: auto;
    z-index: -1;
  }
  
  #cloud1 {
    position: absolute;
    top: -60px;
    left: -400px;
  }
  
  #cloud2 {
    position: absolute;
    top: -40px;
    left: 300px;
  }
  
  #cloud3 {
    position: absolute;
    top: 300px;
    left: 50px;
  }