body {
    background-color: #567FAD; 
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: [line1] 10vw [line2] 20vw [line3] 30vw [line4] 20vw [line5] 10vw [line6];
    grid-template-rows: [line1] 15vh [line2] auto [line3] auto [line4] auto [line5] auto [line6];
    justify-content: center;
    /*overflow: hidden;
    box-sizing: border-box;*/
}

header {
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line1;
    grid-row-end: line2;
    justify-self: center;
    align-self: end;
}
    
form {
    grid-column-start: line2;
    grid-column-end: line5;
    grid-row-start: line2;
    grid-row-end: line3;
    height: 20vh;
    justify-self: center;
    padding-top: 10vh;
    /*width: 100%;*/
}

input {
    font-size: 3vh;
    text-align: center;
    height: 5vh;
    width: 35vw;
    align-content: center;
}

.recent_city {
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line3;
    grid-row-end: line4;
    justify-self: center;
    height: 200px;
    width: 200px;
    text-align: center;
    border: 3px solid white; /* tylko żeby widzieć granice boxu*/
    box-sizing: border-box;
}

.name {
    font-size: 28px;
    
}

.ico_temp {
    height: 60px;
    width: 100%;
    justify-items: end;
    
}

.temp {
    font-size: 30px;
    height: 60px;
}

.ico_cond {
    height: 60px;
    width: 100%;
}

.conditions {
    font-size: 28px;
}

button {
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line5;
    grid-row-end: line6;
    height: 10vh;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
}

/* kod dla strony index_1*/

form_1 {
    grid-column-start: line2;
    grid-column-end: line5;
    grid-row-start: line2;
    grid-row-end: line3;
    height: 10vh;
    justify-self: center;
    /*padding-top: 10vh;*/
    /*width: 100%;*/
}

.header_city {
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line3;
    grid-row-end: line4;
    justify-self: center;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 3px solid white;
}

.days_box {
    display: flex;
    grid-column-start: line1;
    grid-column-end: line6;
    grid-row-start: line4;
    grid-row-end: line6;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*align-self: center;*/
}

.weather {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    text-align: center;
    border: 3px solid white;
}

.day{
    font-size: 28px;
}

