body {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*overflow: hidden;*/
}

#container {
    display: grid;
    grid-template-columns: [line1] 10vw [line2] 20vw [line3] 30vw [line4] 20vw [line5] 10vw [line6];
    grid-template-rows: [line1] 14vh [line2] auto [line3] auto [line4] auto [line5] auto [line6];
    justify-content: center;
}

header {
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line1;
    grid-row-end: line2;
    justify-self: center;
    text-align: center;
}
    
form {
    grid-column-start: line2;
    grid-column-end: line5;
    grid-row-start: line2;
    grid-row-end: line3;
    height: 10vh;
    justify-self: center;
    padding-top: 3vh;
    padding-bottom: 9vh;    
    text-align: center;
    z-index: 1;
}

.city_name{
    text-transform: capitalize;
    font-size: 30px;
}

input {
    font-size: 3vh;
    text-align: center;
    height: 7vh;
    width: 35vw;
    align-content: center;
    background: rgba(0,0,0,0.6);
    border-radius: 1rem;
    border: solid 1px white;
    color: white;
 }

 input:hover{
     background:  rgba(0,0,0,0.8);
     border: none;
 }

.weather {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-column-start: line2;
    grid-column-end: line5;
    grid-row-start: line3;
    justify-content: center;
}

.day {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "name name"
    "icotemp temp"
    "icoconditions conditions"
    "icopressure pressure"
}

.day>div {
   width: 100%;
}

.recent_city {
    justify-self: center;
    height: 250px;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px; 
    background: rgba(0,0,0,0.6);
    border-radius: 1rem;
    border: solid 1px white;
    color: rgba(255, 255, 255, 1);  
    z-index: 1;
}

.recent_city:hover{
     background: rgba(0,0,0,0.8);
     border: none;
}

.next_day {
    justify-self: center;
    align-self: flex-end;
    height: 250px;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.6);
    border-radius: 1rem;
    border: solid 1px white;
    color: rgba(255, 255, 255, 1);    
    z-index: 1;
}

.next_day:hover{
     background: rgba(0,0,0,0.8);
     border: none;
}

.third_day {
    justify-self: center;
    align-self: flex-end;
    height: 250px;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.6);
    border-radius: 1rem;
    border: solid 1px white;
    color: rgba(255, 255, 255, 1);    
    z-index: 1;
}

.third_day:hover{
     background: rgba(0,0,0,0.8);
     border: none;
}

.name {
    font-size: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
    grid-area: name;
}

.ico {  
    height: 60px;
    width: 100px;
}

.temp {
    display: flex;
    align-items: center;
    font-size: 26px;
    height: 60px;
    width: 120px;
    text-align: left;
    box-sizing: border-box;
    grid-area: temp;
}

.conditions {
    display: flex;
    align-items: center;
    font-size: 26px;
    height: 60px;
    width: 120px;
    text-align: left;
    box-sizing: border-box;
    grid-area: conditions;
}

.pressure {
    display: flex;
    align-items: center;
    font-size: 26px;
    height: 60px;
    width: 120px;
    text-align: left;
    box-sizing: border-box;
    grid-area: pressure;
}

.icotemp {
    grid-area: icotemp;
}

.icoconditions {
    grid-area: icoconditions;
}

.icopressure {
    grid-area: icopressure;
}

button {
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line5;
    grid-row-end: line6;
    height: 10vh;
    width: 38vmin;
    font-family: sans-serif;
    font-size: 3vh;
    background: rgba(0,0,0,0.6);
    border-radius: 1rem;
    border: solid 1px white;
    color: rgba(255, 255, 255, 0.7);    
    z-index: 1;
}

button:hover{
    background: rgba(0,0,0,0.8);
    border: none;
}

.authors {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

.media  {
    display: flex;
    font-size: 4vh;
    box-sizing:border-box;
    position: relative;
    justify-content: center;
  
}

.media a {
    text-decoration: none;
    color: white;
    margin: 10px;
    background: rgba(0,0,0,0.6);
    border-radius: 6px;
    height: 4.2vh;
    box-sizing: border-box;
}

.media a:hover{
    background: rgba(0,0,0,0.8);
    border: none;
}

/*footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
}
*/

/* ************************** RAIN ************************* */

.rainDrop {
	position: absolute;
    background-color: white;
	border-radius: 100% 100% 80% 80%;
}

button {
    margin: auto;
    display: block;
}

/* ******************* CLOUDS ******************** */

.cloud {
    opacity: 0.8;
    width: 100%;
    max-width: 700px;
    height: auto;
    z-index: -1;
  }
  
  #cloud1 {
    position: absolute;
    top: -60px;
    left: -400px;
  }
  
  #cloud2 {
    position: absolute;
    top: -40px;
    left: 300px;
  }
  
  #cloud3 {
    position: absolute;
    top: 300px;
    left: 50px;
  }