body {
    background-color: #567FAD; 
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: [line1] 10vw [line2] 20vw [line3] 30vw [line4] 20vw [line5] 10vw [line6];
    grid-template-rows: [line1] 15vh [line2] auto [line3] auto [line4] auto [line5] auto [line6];
    justify-content: center;
    /*overflow: hidden;
    box-sizing: border-box;*/
}

header {
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line1;
    grid-row-end: line2;
    justify-self: center;
    align-self: end;
    text-align: center;
}
    
form {
    grid-column-start: line2;
    grid-column-end: line5;
    grid-row-start: line2;
    grid-row-end: line3;
    height: 15vh;
    justify-self: center;
    padding-top: 8vh;
    
}

input {
    font-size: 3vh;
    text-align: center;
    height: 7vh;
    width: 35vw;
    align-content: center;
    background: rgba(0,0,0,0.3);
    border-radius: 1rem;
    border: solid 1px white;
    color: white;
 }

 input:hover{
     background:  rgba(0,0,0,0.5);
     border: none;
 }

.recent_city {
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line3;
    grid-row-end: line4;
    justify-self: center;
    height: 250px;
    width: 250px;
    text-align: center;
    /*border: 3px solid white; /* tylko żeby widzieć granice boxu*/
    box-sizing: border-box;
    margin-bottom: 10px;    
}

.name {
    font-size: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ico {  
    height: 60px;
    width: 100px;
    float: left; 
}

.temp {
    display: flex;
    align-items: center;
    font-size: 26px;
    height: 60px;
    width: 120px;
    float: left;
    text-align: left;
    box-sizing: border-box;
}

.conditions {
    display: flex;
    align-items: center;
    font-size: 26px;
    height: 60px;
    width: 120px;
    text-align: left;
    float: left;
    box-sizing: border-box;
}

.pressure {
    display: flex;
    align-items: center;
    font-size: 26px;
    height: 60px;
    width: 120px;
    text-align: left;
    float: left;
    box-sizing: border-box;
}

button {
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line5;
    grid-row-end: line6;
    height: 10vh;
    font-family: sans-serif;
    font-size: 3vh;
    background: rgba(0,0,0,0.3);
    border-radius: 1rem;
    border: solid 1px white;
    color: rgba(255, 255, 255, 0.5);    
}

button:hover{
     background: rgba(0,0,0,0.5);
     border: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
}

/* kod dla strony index_1*/

form_1 {
    grid-column-start: line2;
    grid-column-end: line5;
    grid-row-start: line2;
    grid-row-end: line3;
    height: 10vh;
    justify-self: center;
    /*padding-top: 10vh;*/
    /*width: 100%;*/
}

.header_city {
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line3;
    grid-row-end: line4;
    justify-self: center;
    text-align: center;
    width: 250px;
    height: 250px;
    /*border: 3px solid white;*/
}

.days_box {
    display: flex;
    grid-column-start: line1;
    grid-column-end: line6;
    grid-row-start: line4;
    grid-row-end: line6;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*align-self: center;*/
}

.weather {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    /*border: 3px solid white;*/
    margin: 10px;
}

.day{
    font-size: 28px;
}

